.ball{
  border-radius: 50%;
  height: 960px;
  width: 960px;
  margin: auto;
  background-image: url('blackball.png');
  background-size: cover;
  display: flex;
  position: relative;
}

.white-center{
  height: 250px;
  max-width: 250px;
  margin: auto;
  border-radius: 100%;
  background: white;
  flex: 1;
  align-self: center;
  display: flex;
  position: relative;
  z-index: 2;

  transition: 0.45s ease;
  cursor: pointer;
}
.white-center:hover{
  box-shadow: 0px 10px 3px #868686;
}

.text-container{
  flex: 1;
  align-items: center;
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  text-align: center;
}

.text-container .ui.button{
  margin: auto;
}

.showModal{
  position: fixed;
  right: 0;
  top: 50%;
}
